@font-face {
	font-family: '所求䈎尋无HanaMin';
	src: url('/fonts/所求䈎尋无HanaMin.woff2') format('woff2');
	font-display: swap;
}

body *,
body {
	font-family: '所求䈎尋无HanaMin';
}

body {
	writing-mode: vertical-rl;
	overflow: hidden;
	color: white;
	background-color: blue;
}

.大 {
	font-size: 300px;
	line-height: 300px;
}

.中 {
	font-size: 50px;
	line-height: 50px;
}

a {
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	font-weight: bold;
	color: #00ffff;
	opacity: 30%;
	text-decoration: none;
}

a:hover {
	color: white;
	background-color: black;
	opacity: 100%;
}