@font-face {
	font-family: '閹割unifont';
	src: url('/fonts/閹割unifont-Medium.woff2') format('woff2');
	font-display: swap;
}

@font-face {
	font-family: '只需HanaMinA';
	src: url('/fonts/只需HanaMinA.ttf') format('TrueType');
	font-display: swap;
}

:lang(han-char) {
	text-orientation: upright;
}

/**                                                                     **/
/**                                  配置                                 **/
/**                                                                     **/


body *,
body {
	font-family: '閹割unifont';
	overflow-y: hidden;
}

body {
	background-image: url('/assets/圖象/konataBG.jpg');
	background-size: cover;
	background-position: left top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	/* 背景圖片固定，不隨內容滾動 */
	/* background-color: black; */
	color: white;
	writing-mode: vertical-rl;
	margin: 0;
	margin-left: 180px;
}

.聊天 {
	writing-mode: horizontal-tb;
}

.絵文字圖象 {
	height: 1em;
	width: 1em;
	image-rendering: pixelated;
	border-radius: 2.5px;
}

.時間 {
	text-orientation: sideways;
	text-decoration-thickness: 1px;
}

.時間:hover {
	outline-style: dashed;
	outline-width: 1px;
}

body>table {
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#上列 {
	/* height: 675px; */
	vertical-align: top;
}

#下列 {
	height: 300px;
	vertical-align: top;
}

/**                                                                     **/
/**                                 个人紹介                                **/
/**                                                                     **/

#个人紹介 {
	border-color: #f9faf4;
	background-color: #f9faf4;
	color: black;
	margin-left: 30px;
}

#个人紹介 * {
	margin: 0;
	font-size: 23px;
}

#个人紹介 *::selection {
	background-color: black;
	color: #f9faf4;
}

#个人紹介 a {
	color: #5e8ddb;
}

#个人紹介 a:hover {
	color: #f9faf4;
	background-color: #5e8ddb;
}

#个人紹介 .wiki {
	color: #bfa453;
}

#个人紹介 .wiki:hover {
	color: #f9faf4;
	background-color: #bfa453;
}

#个人紹介 .「中國」 {
	color: rgb(0, 0, 0);
}

#个人紹介 .「中國」:hover {
	background-color: yellow;
	color: red;
}

#个人紹介>div>h1,
#个人紹介>div>h2,
#个人紹介>div>h3 {
	font-family: "只需HanaMinA";

}

#个人紹介>div>h2,
#个人紹介>div>h2 * {
	font-size: 45px;
}

#个人紹介>div>h3,
#个人紹介>div>h3 * {
	font-size: 35px;
	text-decoration: underline;
	padding-right: 30px;

}

#个人紹介>div>hr {
	border: none;
	border: 2px solid black;
}

#个人紹介 ul li {
	padding-left: 15px;
}

/**                                                                     **/
/**                                  塊                                  **/
/**                                                                     **/

div.塊 {
	border: 2px solid #383838;
	border-radius: 4px;
	color: white;
	padding: 15px 10px;
	margin: 5px;
	margin-right: 0;
	background-color: #000000;
}

div.塊::selection,
div.塊 *::selection {
	color: #000000;
	background-color: white;
}

@-moz-document url-prefix() {
	div.塊 {
		background-color: #000000d3;
	}
}

div.塊>a {
	color: #5e8ddb;
	text-decoration: none;
}

div.塊>a:hover {
	color: black;
	background-color: #5e8ddb;
}

/**                                                                     **/
/**                                 遮擋下                                 **/
/**                                                                     **/

.遮擋下 {
	background-color: black;
}

.遮擋下 {
	color: transparent;
	transition: 0.3s;
}

.遮擋下.遮擋有 * {
	background-color: black;
	opacity: 0;
	transition: 0.3s;
}

.遮擋下.遮擋空 {
	color: #fff;
	/* background-color: transparent; */
}

#个人紹介 .遮擋下.遮擋空,
#相關我列表 .遮擋下.遮擋空 {
	color: #f9faf4;
}


#愛好 .遮擋下.遮擋有 {
	background-color: #ffffff;
}

/**                                                                     **/
/**                                  愛好                                 **/
/**                                                                     **/

#愛好 * {
	font-size: 23px;
	background-color: #000000;
}

#愛好>h1,
#愛好>h2,
#愛好>h3 {
	font-family: "只需HanaMinA";

}

#愛好>h2,
#愛好>h2 * {
	font-size: 45px;
}

#愛好 h3,
#愛好 h3 * {
	font-size: 35px;

}

#愛好 *::selection {
	color: #000000;
	background-color: #ffffff;
}


#愛好 .wiki {
	color: #efe196;
}

#愛好 .wiki:hover {
	color: #000000;
	background-color: #efe196;
}


/**                                                                     **/
/**                                最近更新日期                               **/
/**                                                                     **/

.最近更新日期 *::selection,
.最近更新日期::selection {
	background-color: white;
	color: #000000;
}


/**                                                                     **/
/**                                 我的䈎面                                **/
/**                                                                     **/
#我的䈎面 a {
	color: white;
	text-decoration: none;
}

#我的䈎面 a:hover {
	text-decoration: underline;
}

#我的䈎面 div hr {
	margin-top: 0;
	height: 90%;
	border-color: #ffffff40;
}

#我的䈎面 .失效鏈接 {
	text-decoration: line-through;
	color: grey;
}

#cbox {
	margin: 5px 0
}


#mySiteLink {
	display: flex;
	justify-content: space-between;
	margin: 15px auto;
	border-radius: 4px;
}

#mySiteLink * {
	cursor: pointer;
	image-rendering: pixelated;
}

#mySiteLink框 {
	font-size: 12px;
	writing-mode: horizontal-tb;
	resize: none;
	overflow-y: auto;
	width: 160px;
	height: 105px;
	background-color: #000000;
	color: #00ff00;
	border-radius: 4px;
	outline: none;
	border: none;
	padding: 8px;
	caret-shape: block;

}

#mySiteLink框::selection {
	color: black;
	background-color: #00ff00;
}

#mySiteLink框:focus {
	outline: none;
}

#AppsWindow {
	height: 525px;
	width: 200px;
	min-width: 100px;
	max-width: 400px;
	min-height: 200px;
	max-height: 750px;
	resize: both;
	top: 28px;
	right: 1340px;
	z-index: 2000;
}

#AppsWindow .window-body a {
	font-size: 20px;
	margin-left: 10px;
	overflow: hidden;
	color: #000000;
	text-decoration: none;
}

#AppsWindow .window-body a:hover {
	text-decoration: underline;
}