@font-face {
	font-family: '閹割unifont';
	src: url('/fonts/閹割unifont.woff2') format('woff2');
	font-display: swap;
}

@font-face {
	font-family: '只需HanaMinA';
	src: url('/fonts/只需HanaMinA.ttf') format('TrueType');
	font-display: swap;
}

body *,
body {
	font-family: '閹割unifont';
}

body {
	background-color: black;
	color: white;
	writing-mode: vertical-rl;
	overflow-y: hidden;
}

.聊天 {
	writing-mode: horizontal-tb;
}

#文者燒殺人 {
	width: 200px;
	image-rendering: pixelated;
	margin-right: -20px;
}

#上列 {
	height: 675px;
	vertical-align: baseline;
}

#下列 {
	height: 225px;
	width: auto;
	vertical-align: baseline;
}

#个人紹介 {
	border: none;
	background-color: red;
	color: black;
}

#个人紹介 * {
	margin: 0;
	font-size: 23px;
}



#个人紹介>h1,
#个人紹介>h2,
#个人紹介>h3 {
	font-family: "只需HanaMinA";

}

#个人紹介>h2,
#个人紹介>h2 * {
	font-size: 45px;
}

#个人紹介>h3,
#个人紹介>h3 * {
	font-size: 35px;
}

#个人紹介 *::selection {
	background-color: black;
	color: red;
}

#頁貼 {
	float: left;
	width: 270px;
}

/* 默认的遮挡颜色 */
.遮擋下 {
	background-color: black;
}

.遮擋下 {
	color: transparent;
	transition: 0.3s;
}

.遮擋下.遮擋有 * {
	background-color: black;
	opacity: 0;
	transition: 0.3s;
}

.遮擋下.遮擋空 {
	color: #fff;
	background-color: transparent;
}

#个人紹介 .遮擋下.遮擋空 {
	color: #ff0000;
}

#个人紹介 .遮擋下.遮擋有 {
	background-color: #000000;
}

#Q1 .遮擋下.遮擋空 {
	color: #ff0000;
}

#Q1 .遮擋下.遮擋有 {
	background-color: #ff0000;
}

div.塊 {
	border: 2px solid #383838;
	border-radius: 4px;
	color: white;
	padding: 15px 10px;
	margin: 5px;
}

@-moz-document url-prefix() {
	div.塊 {
		background-color: #000000d3;
	}
}