@font-face {
	font-family: '閹割unifont';
	src: url('/fonts/閹割unifont.woff2') format('woff2');
	font-display: swap;
}

body *,
body {
	font-family: '閹割unifont';
}

body {
	background-color: black;
	color: white;
	writing-mode: vertical-rl;
	overflow-y: hidden;
}

#全部圖片 button.圖片按鈕,
#全部圖片 button.圖片按鈕 img {
	margin: 10px;
}

button.圖片按鈕 {
	background-color: #00000000;
	border: none;
	width: 156px;
	cursor: pointer;
}

button.圖片按鈕 img {
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	width: 156px;
}

@media (hover: hover) {
	button.圖片按鈕 img {
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
	}

	button.圖片按鈕:hover img {
		filter: brightness(150%) contrast(150%);
		transform: scale(1.2);
	}

	button.圖片按鈕:active img {
		filter: brightness(50%) contrast(150%);
		transform: scale(1.1);
	}

}

@media (hover: none) {
	button.圖片按鈕 img {
		-webkit-transition-duration: 0.5s;
		transition-duration: 0.5s;
	}

	button.圖片按鈕:focus img {
		filter: brightness(150%) contrast(150%);
		transform: scale(1.3);
	}
}

@keyframes fall {
	0% {
		transform: translateY(0%);
	}

	100% {
		transform: translateY(100vh);
		opacity: 50%;
	}
}

.pop-text {
	overflow: hidden;
	font-size: 20px;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
	animation: fall 2s cubic-bezier(0.6, 0.04, 0.98, 0.335) forwards;
}