@font-face {
	font-family: '閹割unifont';
	src: url('/fonts/閹割unifont-Medium.woff2') format('woff2');
	font-display: swap;
}

@font-face {
	font-family: '只需HanaMinA';
	src: url('/fonts/只需HanaMinA.ttf') format('TrueType');
	font-display: swap;
}

:lang(han-char) {
	text-orientation: upright;
}

/**                                                                     **/
/**                                  配置                                 **/
/**                                                                     **/


body *,
body {
	font-family: '閹割unifont';
	overflow-y: hidden;
}

body {
	background-image: url('/assets/圖象/konataBG.jpg');
	background-size: cover;
	background-position: left top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	/* 背景圖片固定，不隨內容滾動 */
	/* background-color: black; */
	writing-mode: horizontal-tb;
	color: white;
	margin: 0;
}

#大容器 {
	display: flexbox;
	color: black;
	font-size: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	/* 使用視窗的全高 */
}