@font-face {
	font-family: '閹割unifont';
	src: url('/fonts/閹割unifont-Medium.woff2') format('woff2');
	font-display: swap;
}

html{
	/* margin-top: -30px;  */
}

body{
	margin: 0;
}


#content {
	height: 100%;
	width: 100%;
}

:lang(han-char) {
	text-orientation: upright;
}



/**                                                                     **/
/**                               MarkDown                              **/
/**                                                                     **/


#MD外部 {
	width: 100vw;
	height: 100vh;
	writing-mode: vertical-rl;
	background-color: #1c1f24;
	color: white;
	font-family: 閹割unifont;
}

#MD外部 *::selection {
	color: #1c1f24;
	background-color: white;
}

#MD內部 {
	/* margin: 50px; */
	font-size: 20px;
}

#MD內部 h1 {
	font-size: 50px;
	border-left: 3px solid;
	/* padding-left: 20px; */
}

#MD內部 h3 {
	font-size: 30px;
	/* margin: 0px; */
}

#MD內部 blockquote {
	color: #a1ffe0ee;
	font-style: italic;
	border-top: 7px solid;
	/* padding-top: 20px; */
}

#MD內部 a {
	color: #a1ecff;
}

#MD內部 blockquote *::selection {
	color: #1c1f24;
	background-color: #a1ffe0ee;
}

#MD內部 table {
	width: 100%;
	border-collapse: collapse;
}

#MD內部 th,
#MD內部 td {
	border: 1px solid #ffffff08;
	/* padding: 8px; */
	text-align: left;
}

#MD內部 th {
	border-left: 1px solid #19332a;
}

#MD內部 thead {
	outline: 1px solid #19332a;
}

#MD內部 tr:nth-child(even) {
	background-color: #ffffff09;
}

#MD內部 th {
	background-color: #22473a;
	color: white;
}

#MD內部 th::selection,
#MD內部 th *::selection {
	background-color: #448d73;
	color: #1c1f24;
}


/**                                                                     **/
/**                                介面列表                              **/
/**                                                                     **/

#䈎彙外 {
	background-color: #1c1f24;
	font-family: 閹割unifont;
	color: white;
}

#䈎彙 *::selection {
	color: #1c1f24;
	background-color: white;
}

#䈎彙 {
	/* margin: 50px; */
	font-size: 20px;
}

#䈎彙 li {
	/* padding: 10px; */
}


#䈎彙 table {
	width: 100%;
	border-collapse: collapse;
}

#䈎彙 th,
#䈎彙 td {
	border: 1px solid #ffffff08;
	/* padding: 8px; */
	text-align: left;
}

#䈎彙 thead {
	outline: 1px solid #15dd7c2d;
}

#䈎彙 tr:nth-child(even) {
	background-color: #ffffff09;
}

#䈎彙 th {
	background-color: #15dd7c2d;
	border-left: 1px solid #15dd7c2d;
	color: white;
}

#䈎彙 th::selection,
#䈎彙 th *::selection {
	background-color: #448d73;
	color: #1c1f24;
}


#䈎彙 a {
	color: #ffffff;
	text-decoration: none;
}

#䈎彙 a::selection,
#䈎彙 a *::selection {
	color: white;
	background-color: #62909b;
}

#䈎彙 a:hover,
#䈎彙 a *:hover {
	text-decoration: underline;
}

#䈎彙 a.「中國」 {
	color: yellow;
}

#䈎彙 a.「中國」:hover {
	background-color: yellow;
	color: red;
}

#䈎彙 a.「中國」::selection,
#䈎彙 a.「中國」 *::selection {
	background-color: yellow;
	color: #1c1f24;
}

#众Table>* {
	display: inline-block;
	/* margin: 20px; */
}

#众Table th {
	max-height: 200px;
	min-height: 120px;
}

/**                                                                     **/
/**                                錯誤介面                              **/
/**                                                                     **/


#錯誤介面 {
	list-style-type: none;
	overflow: hidden;
}

#錯誤介面 *,
#錯誤介面 {
	font-family: '閹割unifont';
}

#錯誤介面 {
	writing-mode: vertical-rl;
	width: 100vw;
	height: 100vh;
	background-color: #0000ff;
	color: white;
}

#錯誤介面 * {
	/* margin: 0;
	margin-top: 30px; */
}

#錯誤介面 *::selection {
	color: #0000ff;
	background-color: white;
}

#錯誤介面 h1 {
	font-size: 150px;
	/* padding-left: 30px; */
	/* margin-right: 30px; */
}

#錯誤介面 p,
#錯誤介面 p * {
	/* padding: none; */
	font-size: 50px;
}