html {
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	writing-mode: vertical-rl;
	margin: 0;
	background-color: #ffffff;
	width: 100%;
	height: 100%;
	overflow: hidden;
	color: #00000037;
}

#圖後 {
	width: 100%;
	height: 100%;
	writing-mode: vertical-rl;
	margin: 0;
	background: url('/它專/栗炭千唯/圖象/栗炭千唯本鬼面多赤背景亂化.png');
	/* background-size: 100px; */
}

#圖後 * {
	user-select: none;
}

#背景文字 {
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 0;
	/* animation: 50s linear infinite 向左滾動; */
	cursor: pointer;
}

@keyframes 向左滾動 {
	0% {
		right: 0;
	}

	50% {
		right: -1050px;
	}

	100% {
		right: 0
	}
}

#背景文字 div {
	/* white-space: pre-line; */
	font-size: 10px;
	line-height: 0.8em;
	letter-spacing: -0.1em;
	image-rendering: pixelated;
	-webkit-font-smoothing: none;
	user-select: none;
	color: #00000080;
}

#背景文字 div::selection {
	color: white;
	background-color: black;
}

#网䈎顯示img {
	/* display: none; */
	z-index: 99999999999;
	position: fixed;
	/* width: calc(100% + 15px);
	height: calc(100% + 15px); */
	width: 100%;
	height: 100%;
	image-rendering: pixelated;
	pointer-events: none;
	user-select: none;
	top: 0;
	left: 0;
}

#网䈎顯示canvas {}