#弟壱玖伍悪靈 {
	position: absolute;
	height: 70%;
	width: 10%;
	bottom: 10px;
	left: -10px;
	/* transform: scale(0.6, 8); */
	animation: 左左-回 0.4s infinite linear;
	mix-blend-mode: multiply;
}

#栗炭千唯黑瘦鬼 {
	position: absolute;
	bottom: 0px;
	left: 40px;
	image-rendering: crisp-edges;
	cursor: pointer;
}

@keyframes 左左-回 {
	10% {
		left: 0;
	}

	0% {
		left: -30px;
	}
}

#栗炭千唯獨眼無顏女 {
	position: absolute;
	bottom: 0;
	height: 100px;
	mix-blend-mode: multiply;
}

#栗炭千唯本鬼面雨 {
	position: absolute;
	mix-blend-mode: color-burn;
	pointer-events: none;
	transform: scaleY(2);
	z-index: 100;
}

#不明語言赤字 {
	position: absolute;
	width: 30%;
	height: 80px;
	left: 30px;
	/* mix-blend-mode: color-burn; */
}

#栗炭千唯再進本鬼 {
	/* height: 100%; */
	min-height: 90%;
	max-height: 100%;
	width: 60%;
	position: absolute;
	left: 20%;
	bottom: 0;
	z-index: 0;
	image-rendering: pixelated;
	pointer-events: none;
}

#提示文本 {
	color: #0f0;
	writing-mode: horizontal-tb;
	z-index: 999999;
	/* background-color: white; */
	font-size: 100px;
	position: absolute;
	display: none;
	font-weight: bold;
	top: -40px;
	transform: scaleY(0.7);
	pointer-events: none;
}

#悪靈 {
	position: absolute;
	color: aqua;
	font-weight: bold;
	font-size: 50vh;
	right: -0.5em;
	mix-blend-mode: color-dodge;
	z-index: 10000;
	pointer-events: none;
}