@font-face {
	font-family: "Playfair Display SC Black";
	src: url("../fonts/baked/playfair-black-subset.woff2") format("woff2");
}

@font-face {
	font-family: "SimSun";
	src: url("../fonts/baked/simsun-subset.woff2") format("woff2");
}

:root {
	--font-en-disp: "Playfair Display SC Black", serif;
	--font-disp-2nd: "SimSun", serif;
	--colour-purewhite: #fff;
	--colour-pureblack: #000;
	--colour-purered: #ff0000;
}

html {
	-webkit-font-smoothing: none;
	-moz-osx-font-smoothing: none;
	font-smooth: never;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(255, 255, 255);
}

a {
	font-family: var(--font-disp-2nd);
}