#全部UI[配色主題="default"],
#全部UI[配色主題="默認"],
:root {
	--colorSidebar: #ffffff50;
	--colorSidebarItems: #fff;
	--colorSidebarToggle: #fff;
	--colorSidebarButtons: #fff;
}

#全部UI[配色主題="赤景靑面怒視目"] {
	--colorSidebar: #00ff00;
	--colorSidebarItems: #520200;
	--colorSidebarItemsHover: #ff0400;
	--colorSidebarToggle: #520600;
	--colorSidebarButtons: #520600;
	--colorSidebarScrollbar: #ff0000;
	--colorSidebarScrollbarBG: #00ff00;
}

#展示>.展示項目[識別符="赤景靑面怒視目"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="赤景靑面怒視目"]>img {
	height: 50%;
}

#展示>.展示項目[識別符="赤景靑面怒視目"]>div.BG {
	background: red;
	z-index: -99999;
}

#全部UI[配色主題="薹綠水藍多視目"] {
	--colorSidebar: transparent;
	--colorSidebarItems: #4c48ff;
	--colorSidebarItemsHover: #2cc074;
	--colorSidebarToggle: #000000;
	--colorSidebarButtons: #2cc074;
	--colorSidebarScrollbar: #6a76fd;
	--colorSidebarScrollbarBG: transparent;
}

#展示>.展示項目[識別符="薹綠水藍多視目"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="薹綠水藍多視目"]>img {
	height: 50%;
}

#展示>.展示項目[識別符="薹綠水藍多視目"]>div.BG {
	background: #fdfef8;
	z-index: -99999;
}



#全部UI[配色主題="法顯東石謔諧然"] {
	--colorSidebar: transparent;
	--colorSidebarItems: #003e00;
	--colorSidebarItemsHover: #00ff00;
	--colorSidebarToggle: #003e00;
	--colorSidebarButtons: #003e00;
	--colorSidebarScrollbar: #00ff00;
	--colorSidebarScrollbarBG: transparent;
}

#全部UI[配色主題="法顯東石謔諧然"]>#sidebar {
	backdrop-filter: blur(0px);
}

#展示>.展示項目[識別符="法顯東石謔諧然"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="法顯東石謔諧然"]>img {
	height: 40%;
	/* max-width: 50%; */
	image-rendering: pixelated;
	animation: 上下 5s ease-in-out infinite;
	box-shadow: hsla(100, 21%, 8%, 0.6) 0px 4px 16px, hsla(100, 21%, 8%, 0.6) 0px 8px 24px, hsla(100, 21%, 8%, 0.6) 0px 16px 56px;
}

@keyframes 上下 {

	0%,
	100% {
		transform: translateY(20px) scaleX(0.995);
	}

	50% {
		transform: translateY(-90px);
	}
}


#展示>.展示項目[識別符="法顯東石謔諧然"]>div.BG {
	background: #ffffff;
	z-index: -99999;
}

#展示>.展示項目[識別符="法顯東石謔諧然"]>canvas {
	position: fixed;
	z-index: -99998;
	width: 100%;
	height: 100%;
	image-rendering: pixelated;
	overflow: visible;
	filter: blur(30px);
}


#全部UI[配色主題="驚悚鏡像白目黑白口美羊羊"] {
	--colorSidebar: transparent;
	--colorSidebarItems: #ffffff;
	--colorSidebarItemsHover: #cda1aa;
	--colorSidebarToggle: #cda1aa;
	--colorSidebarButtons: #cda1aa;
	--colorSidebarScrollbar: #cda1aa;
	--colorSidebarScrollbarBG: transparent;
	--colorDescription: white;
	--colorDescriptionBG: black;
}

#展示>.展示項目[識別符="驚悚鏡像白目黑白口美羊羊"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="驚悚鏡像白目黑白口美羊羊"]>img {
	height: 50%;
}

#展示>.展示項目[識別符="驚悚鏡像白目黑白口美羊羊"]>div.BG {
	background: rgb(0, 0, 0);
	z-index: -99999;
}


#全部UI[配色主題="貓和老鼠錯亂房間"] {
	--colorSidebar: #9a360b;
	--colorSidebarItems: #dca934;
	--colorSidebarItemsHover: #9dc172;
	--colorSidebarToggle: #9a360b;
	--colorSidebarButtons: #dca934;
	--colorSidebarScrollbar: #dca934;
	--colorSidebarScrollbarBG: #9a360b;
	--colorDescription: white;
	--colorDescriptionBG: black;
}

#展示>.展示項目[識別符="貓和老鼠錯亂房間"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="貓和老鼠錯亂房間"]>img {
	width: 70%;
	height: 100%;
}

#展示>.展示項目[識別符="貓和老鼠錯亂房間"]>div.BG {
	background: #0d0d0d;
	z-index: -99999;
}


#全部UI[配色主題="滥恩，停滥倅發病"] {
	--colorSidebar: transparent;
	--colorSidebarItems: #000000;
	--colorSidebarItemsHover: #c5b099;
	--colorSidebarToggle: #000000;
	--colorSidebarButtons: #000000;
	--colorSidebarScrollbar: #000000;
	--colorSidebarScrollbarBG: transparent;
	--colorDescription: white;
	--colorDescriptionBG: #000000;
}

#展示>.展示項目[識別符="滥恩，停滥倅發病"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="滥恩，停滥倅發病"]>img {
	width: 70%;
	height: 100%;
}

#展示>.展示項目[識別符="滥恩，停滥倅發病"]>div.BG {
	background: #eaeaec;
	z-index: -99999;
	background: url("/assets/圖象/畫廊/其它/滥恩，停滥倅發病.png");
	background-size: cover;
}


#全部UI[配色主題="仌屍"] {
	--colorSidebar: #ff0000;
	--colorSidebarItems: #0ef4f2;
	--colorSidebarItemsHover: #0ef4f2;
	--colorSidebarToggle: #ff0000;
	--colorSidebarButtons: #ff0000;
	--colorSidebarScrollbar: #0ef4f2;
	--colorSidebarScrollbarBG: #ff0000;
	--colorDescription: #000000;
	--colorDescriptionBG: white;
}

#展示>.展示項目[識別符="仌屍"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="仌屍"]>img {
	height: 100%;
}

#展示>.展示項目[識別符="仌屍"]>div.BG {
	background: #0bf5f2;
	z-index: -99999;
	background-size: cover;
}


#全部UI[配色主題="栗炭千唯悪靈"] {
	--colorSidebar: transparent;
	--colorSidebarItems: #d41314;
	--colorSidebarItemsHover: #66dae0;
	--colorSidebarToggle: #66dae0;
	--colorSidebarButtons: #66dae0;
	--colorSidebarScrollbar: #66dae0;
	--colorSidebarScrollbarBG: transparent;
	--colorDescription: white;
	--colorDescriptionBG: #000000;
}

#展示>.展示項目[識別符="栗炭千唯悪靈"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="栗炭千唯悪靈"]>img {
	height: 50%;
	image-rendering: pixelated;
	pointer-events: none;
}

#展示>.展示項目[識別符="栗炭千唯悪靈"]>div.BG {
	background: url("/assets/圖象/畫廊/其它/栗炭千唯悪靈.png");
	background-size: contain;
	z-index: -99999;
	filter: blur(1px);
}


#全部UI[配色主題="栗炭千唯悪靈再進"] {
	--colorSidebar: #ffffff;
	--colorSidebarItems: #160610;
	--colorSidebarItemsHover: transparent;
	--colorSidebarToggle: #700712;
	--colorSidebarButtons: #0a5a5a;
	--colorSidebarScrollbar: #a14c4f;
	--colorSidebarScrollbarBG: #ec0c15;
	--colorDescription: white;
	--colorDescriptionBG: #000000;
}

#展示>.展示項目[識別符="栗炭千唯悪靈再進"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="栗炭千唯悪靈再進"]>img {
	height: 50%;
	image-rendering: pixelated;
	pointer-events: none;
}

#展示>.展示項目[識別符="栗炭千唯悪靈再進"]>div.BG {
	/* background: url("/assets/圖象/畫廊/栗炭千唯悪靈再進.png"); */
	background-color: #eb0a12;
	background-size: 123px;
	z-index: -99999;
	filter: blur(90px);
}

/* #展示>.展示項目[識別符="栗炭千唯悪靈再進"]>div.BG::after {
	z-index: 9999999;
	position: fixed;
	height: 900px;
	width: 900px;
	background-color: #000000;
	top: 0;
	left: 0;
} */


#全部UI[配色主題="病禍"] {
	--colorSidebar: transparent;
	--colorSidebarItems: #000000;
	--colorSidebarItemsHover: #000000;
	--colorSidebarToggle: #000000;
	--colorSidebarButtons: #000000;
	--colorSidebarScrollbar: #000000;
	--colorSidebarScrollbarBG: transparent;
	--colorDescription: white;
	--colorDescriptionBG: #000000;
}

#展示>.展示項目[識別符="病禍"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="病禍"]>img {
	height: 60%;
	image-rendering: pixelated;
	pointer-events: none;
}

#展示>.展示項目[識別符="病禍"]>div.BG {
	background: url("/assets/圖象/畫廊/其它/病禍.png");
	background-size: cover;
	z-index: -99999;
	filter: blur(1px);
}


#全部UI[配色主題="ちいかわ"] {
	--colorSidebar: transparent;
	--colorSidebarItems: #000000;
	--colorSidebarItemsHover: #ffedcf;
	--colorSidebarToggle: #000000;
	--colorSidebarButtons: #000000;
	--colorSidebarScrollbar: #000000;
	--colorSidebarScrollbarBG: transparent;
	--colorDescription: white;
	--colorDescriptionBG: #000000;
}

#展示>.展示項目[識別符="ちいかわ"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="ちいかわ"]>img {
	height: 50%;
	image-rendering: pixelated;
	pointer-events: none;
}

#展示>.展示項目[識別符="ちいかわ"]>div.BG {
	background: url("/assets/圖象/畫廊/其它/風格化蓮肉背.png");
	background-size: contain;
	z-index: -99999;
	filter: blur(3px);
}


#全部UI[配色主題="春日歩持刀可愛核"] {
	--colorSidebar: #fdd5e8;
	--colorSidebarItems: #ff669d;
	--colorSidebarItemsHover: #0f1316;
	--colorSidebarToggle: #fe659c;
	--colorSidebarButtons: #ff669d;
	--colorSidebarScrollbar: #f3a3ca;
	--colorSidebarScrollbarBG: transparent;
	--colorDescription: white;
	--colorDescriptionBG: #000000;
}

#展示>.展示項目[識別符="春日歩持刀可愛核"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="春日歩持刀可愛核"]>canvas.star {
	z-index: 10000;
	position: absolute;
	pointer-events: none;
}

#展示>.展示項目[識別符="春日歩持刀可愛核"]>img {
	width: 70%;
	image-rendering: pixelated;
	pointer-events: none;
	box-shadow: rgba(14, 20, 26, 0.56) 0px 22px 70px 4px;
}

#展示>.展示項目[識別符="春日歩持刀可愛核"]>div.BG {
	background: #fad5e6;
	background-size: contain;
	z-index: -99999;
}


#全部UI[配色主題="赤目"] {
	--colorSidebar: transparent;
	--colorSidebarItems: #7e0000;
	--colorSidebarItemsHover: #d10000;
	--colorSidebarToggle: #7e0000;
	--colorSidebarButtons: #7e0000;
	--colorSidebarScrollbar: #7e0000;
	--colorSidebarScrollbarBG: transparent;
}

#展示>.展示項目[識別符="赤目"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="赤目"]>img {
	position: absolute;
	height: 85%;
	top: 0;
	right: 0;
	image-rendering: pixelated;
	pointer-events: none;
	z-index: -99998;
}

#展示>.展示項目[識別符="赤目"]>div.BG {
	background: #000000;
	background-size: contain;
	z-index: -99999;
}


#全部UI[配色主題="木紫雷擊"] {
	--colorSidebar: transparent;
	--colorSidebarItems: #ff00ff;
	--colorSidebarItemsHover: #ff00ff;
	--colorSidebarToggle: #ff00ff;
	--colorSidebarButtons: #ff00ff;
	--colorSidebarScrollbar: #ff80ff;
	--colorSidebarScrollbarBG: transparent;
}

#展示>.展示項目[識別符="木紫雷擊"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="木紫雷擊"]>img {
	position: absolute;
	height: 85%;
	top: 0;
	right: 0;
	image-rendering: pixelated;
	pointer-events: none;
	z-index: -99998;
}

#展示>.展示項目[識別符="木紫雷擊"]>div.BG {
	background: #ffffff;
	background-size: contain;
	z-index: -99999;
}


#全部UI[配色主題="灋顯東石"] {
	--colorSidebar: transparent;
	--colorSidebarItems: #0a0809;
	--colorSidebarItemsHover: #ff00ff;
	--colorSidebarToggle: #0a0809;
	--colorSidebarButtons: #0a0809;
	--colorSidebarScrollbar: #0a0809;
	--colorSidebarScrollbarBG: transparent;
}

#展示>.展示項目[識別符="灋顯東石"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="灋顯東石"]>img {
	height: 60%;
	image-rendering: pixelated;
	pointer-events: none;
}

#全部UI[配色主題="灋顯東石"]>#sidebar {
	backdrop-filter: blur(0px);
}

#展示>.展示項目[識別符="灋顯東石"]>div.BG {
	background: url("/assets/圖象/畫廊/其它/灋顯東石.jpg");
	background-size: contain;
	z-index: -99999;
	filter: blur(15px);
}


#全部UI[配色主題="夢"] {
	--colorSidebar: transparent;
	--colorSidebarItems: #000000;
	--colorSidebarItemsHover: #000000;
	--colorSidebarToggle: #000000;
	--colorSidebarButtons: #000000;
	--colorSidebarScrollbar: #000000;
	--colorSidebarScrollbarBG: transparent;
}

#展示>.展示項目[識別符="夢"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="夢"]>img {
	width: 50%;
	image-rendering: pixelated;
	pointer-events: none;
}

#展示>.展示項目[識別符="夢"]>div.BG {
	background: #ffffff;
	background-size: contain;
	z-index: -99999;
	filter: blur(15px);
}


#全部UI[配色主題="水啚丹它甲骨文"] {
	--colorSidebar: transparent;
	--colorSidebarItems: #000000;
	--colorSidebarItemsHover: #000000;
	--colorSidebarToggle: #000000;
	--colorSidebarButtons: #000000;
	--colorSidebarScrollbar: #000000;
	--colorSidebarScrollbarBG: transparent;
}

#展示>.展示項目[識別符="水啚丹它甲骨文"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="水啚丹它甲骨文"]>img {
	width: 70%;
	image-rendering: pixelated;
	pointer-events: none;
}

#展示>.展示項目[識別符="水啚丹它甲骨文"]>div.BG {
	background: #ffffff;
	background-size: contain;
	z-index: -99999;
	filter: blur(15px);
}


#全部UI[配色主題="天国栗炭千唯"] {
	--colorSidebar: transparent;
	--colorSidebarItems: #40263c;
	--colorSidebarItemsHover: #2a2b5e;
	--colorSidebarToggle: #40263c;
	--colorSidebarButtons: #40263c;
	--colorSidebarScrollbar: #40263c;
	--colorSidebarScrollbarBG: transparent;
}

#全部UI[配色主題="天国栗炭千唯"]>#sidebar {
	backdrop-filter: blur(0px);
}

#展示>.展示項目[識別符="天国栗炭千唯"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="天国栗炭千唯"]>img {
	height: 70%;
	image-rendering: pixelated;
	pointer-events: none;
}

#展示>.展示項目[識別符="天国栗炭千唯"]>div.BG {
	background: url("/assets/圖象/畫廊/其它/天国栗炭千唯.jpg");
	background-size: contain;
	z-index: -99999;
	filter: blur(15px);
}


#全部UI[配色主題="合息"] {
	--colorSidebar: transparent;
	--colorSidebarItems: #000000;
	--colorSidebarItemsHover: #0000ff;
	--colorSidebarToggle: #000000;
	--colorSidebarButtons: #000000;
	--colorSidebarScrollbar: #000000;
	--colorSidebarScrollbarBG: transparent;
}

#全部UI[配色主題="合息"]>#sidebar {
	backdrop-filter: blur(0px);
}

#展示>.展示項目[識別符="合息"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="合息"]>img {
	height: 60%;
	image-rendering: pixelated;
	pointer-events: none;
}

#展示>.展示項目[識別符="合息"]>div.BG {
	background: url("/assets/圖象/畫廊/合息.jpg");
	background-size: contain;
	z-index: -99999;
	filter: blur(30px);
}


#全部UI[配色主題="赤目IMG"] {
	--colorSidebar: transparent;
	--colorSidebarItems: #000000;
	--colorSidebarItemsHover: #fd0600;
	--colorSidebarToggle: #000000;
	--colorSidebarButtons: #000000;
	--colorSidebarScrollbar: #000000;
	--colorSidebarScrollbarBG: transparent;
}

#展示>.展示項目[識別符="赤目IMG"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="赤目IMG"]>img {
	height: 60%;
	image-rendering: pixelated;
	pointer-events: none;
}

#展示>.展示項目[識別符="赤目IMG"]>div.BG {
	background: #f2ebf4;
	background-size: contain;
	z-index: -99999;
}


#全部UI[配色主題="天に召される"] {
	--colorSidebar: transparent;
	--colorSidebarItems: #000000;
	--colorSidebarItemsHover: #ffffff;
	--colorSidebarToggle: #000000;
	--colorSidebarButtons: #000000;
	--colorSidebarScrollbar: #021f95;
	--colorSidebarScrollbarBG: transparent;
}

#全部UI[配色主題="天に召される"]>#sidebar {
	backdrop-filter: blur(0px);
}

#展示>.展示項目[識別符="天に召される"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="天に召される"]>img {
	height: 60%;
	image-rendering: pixelated;
	pointer-events: none;
}

#展示>.展示項目[識別符="天に召される"]>div.BG {
	background: url("/assets/圖象/畫廊/天に召される.jpg");
	background-size: cover;
	z-index: -99999;
	filter: blur(70px);
}


#全部UI[配色主題="階梯"] {
	--colorSidebar: transparent;
	--colorSidebarItems: #070602;
	--colorSidebarItemsHover: #6f936c;
	--colorSidebarToggle: #070602;
	--colorSidebarButtons: #6f936c;
	--colorSidebarScrollbar: #1c1b16;
	--colorSidebarScrollbarBG: transparent;
}


#全部UI[配色主題="階梯"]>#sidebar {
	backdrop-filter: blur(0px);
}

#展示>.展示項目[識別符="階梯"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="階梯"]>img {
	height: 60%;
	image-rendering: pixelated;
	pointer-events: none;
}

#展示>.展示項目[識別符="階梯"]>div.BG {
	background: url("/assets/圖象/畫廊/階梯.jpg");
	background-size: cover;
	z-index: -99999;
	filter: blur(70px);
}


#全部UI[配色主題="綠色和鏡子"] {
	--colorSidebar: transparent;
	--colorSidebarItems: #041203;
	--colorSidebarItemsHover: #08a017;
	--colorSidebarToggle: #041203;
	--colorSidebarButtons: #08a017;
	--colorSidebarScrollbar: #0d460c;
	--colorSidebarScrollbarBG: transparent;
}

#全部UI[配色主題="綠色和鏡子"]>#sidebar {
	backdrop-filter: blur(0px);
}

#展示>.展示項目[識別符="綠色和鏡子"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="綠色和鏡子"]>img {
	height: 60%;
	pointer-events: none;
	image-rendering: pixelated;
}

#展示>.展示項目[識別符="綠色和鏡子"]>div.BG {
	z-index: -99999;
	filter: blur(70px);
	background-size: cover;
	background: url("/assets/圖象/畫廊/綠色和鏡子.jpg");
}


#全部UI[配色主題="trollFace泉此方"] {
	--colorSidebar: transparent;
	--colorSidebarItems: hsl(242, 25%, 30%);
	--colorSidebarItemsHover: #536ba7;
	--colorSidebarToggle: #fcf2cf;
	--colorSidebarButtons: #fcf2cf;
	--colorSidebarScrollbar: #4c4a7c;
	--colorSidebarScrollbarBG: transparent;
}

#全部UI[配色主題="trollFace泉此方"]>#sidebar {
	backdrop-filter: blur(0px);
}

#展示>.展示項目[識別符="trollFace泉此方"] {
	width: 100%;
	height: 100%;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	image-rendering: pixelated;
}

#展示>.展示項目[識別符="trollFace泉此方"]>div[我是="填充"] {
	border-radius: 4px;
	width: 100%;
	height: 100%;
	background: url("/assets/圖象/畫廊/trollFace泉此方.jpg");
	background-size: 100px;
	margin-left: 40px;
}

#展示>.展示項目[識別符="trollFace泉此方"]>div.BG {
	z-index: -99999;
	filter: blur(70px);
	background-size: cover;
	background: url("/assets/圖象/畫廊/trollFace泉此方.jpg");
}


#全部UI[配色主題="泉此方ダリット"] {
	--colorSidebar: transparent;
	--colorSidebarItems: #80f11d;
	--colorSidebarItemsHover: #ede04c;
	--colorSidebarToggle: #ede04c;
	--colorSidebarButtons: #ede04c;
	--colorSidebarScrollbar: #80f11d;
	--colorSidebarScrollbarBG: transparent;
}

#全部UI[配色主題="泉此方ダリット"]>#sidebar {
	backdrop-filter: blur(0px);
}

#展示>.展示項目[識別符="泉此方ダリット"] {
	width: 100%;
	height: 100%;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

#展示>.展示項目[識別符="泉此方ダリット"]>img {
	height: 60%;
	margin-left: 40px;
	pointer-events: none;
	image-rendering: pixelated;
}

#展示>.展示項目[識別符="泉此方ダリット"]>div.BG {
	z-index: -99999;
	filter: blur(70px);
	background-size: cover;
	background: url("/assets/圖象/畫廊/泉此方ダリット.jpg");
}


#全部UI[配色主題="泉此方殺赤"] {
	--colorSidebar: transparent;
	--colorSidebarItems: #000000;
	--colorSidebarItemsHover: #000000;
	--colorSidebarToggle: #000000;
	--colorSidebarButtons: #000000;
	--colorSidebarScrollbar: #000000;
	--colorSidebarScrollbarBG: transparent;
}

#全部UI[配色主題="泉此方殺赤"]>#sidebar {
	backdrop-filter: blur(0px);
}

#展示>.展示項目[識別符="泉此方殺赤"] {
	width: 100%;
	height: 100%;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

#展示>.展示項目[識別符="泉此方殺赤"]>img {
	height: 60%;
	margin-left: 40px;
	pointer-events: none;
	image-rendering: pixelated;
}

#展示>.展示項目[識別符="泉此方殺赤"]>div.BG {
	z-index: -99999;
	background-size: cover;
	background: #ad1110;
}


#全部UI[配色主題="泉此方水図旦佗"] {
	--colorSidebar: transparent;
	--colorSidebarItems: #6f92db;
	--colorSidebarItemsHover: transparent;
	--colorSidebarToggle: #d71a1a;
	--colorSidebarButtons: #d71a1a;
	--colorSidebarScrollbar: #d71a1a;
	--colorSidebarScrollbarBG: transparent;
}

#全部UI[配色主題="泉此方水図旦佗"]>#sidebar {
	backdrop-filter: blur(0px);
}

#展示>.展示項目[識別符="泉此方水図旦佗"] {
	width: 100%;
	height: 100%;
	flex-grow: 1;
	display: flex;
	justify-content: right;
}

#展示>.展示項目[識別符="泉此方水図旦佗"]>img {
	height: 60%;
	pointer-events: none;
	image-rendering: pixelated;
}

#展示>.展示項目[識別符="泉此方水図旦佗"]>div.BG {
	z-index: -99999;
	background-size: cover;
	background: #000000;
}


#全部UI[配色主題="不人面泉此方"] {
	--colorSidebar: transparent;
	--colorSidebarItems: #0101b1;
	--colorSidebarItemsHover: transparent;
	--colorSidebarToggle: #36e532;
	--colorSidebarButtons: #ec0002;
	--colorSidebarScrollbar: hsl(17, 68%, 20%);
	--colorSidebarScrollbarBG: transparent;
}

#全部UI[配色主題="不人面泉此方"]>#sidebar {
	backdrop-filter: blur(0px);
}

#展示>.展示項目[識別符="不人面泉此方"] {
	width: 100%;
	height: 100%;
	flex-grow: 1;
	display: flex;
	justify-content: right;
}

#展示>.展示項目[識別符="不人面泉此方"]>img {
	height: 60%;
	margin-left: 40px;
	pointer-events: none;
	image-rendering: pixelated;
}

#展示>.展示項目[識別符="不人面泉此方"]>div.BG {
	z-index: -99999;
	background-size: cover;
	background: #000000;
}