#全部UI[配色主題="default"],
#全部UI[配色主題="默認"],
:root {
	--colorSidebar: #ffffff50;
	--colorSidebarItems: #fff;
	--colorSidebarToggle: #fff;
	--colorSidebarButtons: #fff;
}

#全部UI[配色主題="赤景靑面怒視目"] {
	--colorSidebar: #00ff00;
	--colorSidebarItems: #520200;
	--colorSidebarToggle: #520600;
	--colorSidebarButtons: #520600;
	--colorSidebarScrollbar: #ff0000;
	--colorSidebarScrollbarBG: #00ff00;
}

#展示>.展示項目[識別符="赤景靑面怒視目"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="赤景靑面怒視目"]>img {
	height: 50%;
}

#展示>.展示項目[識別符="赤景靑面怒視目"]>div.BG {
	background: red;
	z-index: -99999;
}

#全部UI[配色主題="薹綠水藍多視目"] {
	--colorSidebar: transparent;
	--colorSidebarItems: #4c48ff;
	--colorSidebarToggle: #7f7590;
	--colorSidebarButtons: #2cc074;
	--colorSidebarScrollbar: #6a76fd;
	--colorSidebarScrollbarBG: transparent;
}

#全部UI[配色主題="薹綠水藍多視目"]>#sidebar ul>li>a:hover {
	--colorSidebarItems: #2cc074;
}

#展示>.展示項目[識別符="薹綠水藍多視目"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="薹綠水藍多視目"]>img {
	height: 50%;
}

#展示>.展示項目[識別符="薹綠水藍多視目"]>div.BG {
	background: #fdfef8;
	z-index: -99999;
}



#全部UI[配色主題="法顯東石謔諧然"] {
	--colorSidebar: transparent;
	--colorSidebarItems: #003e00;
	--colorSidebarToggle: #003e00;
	--colorSidebarButtons: #003e00;
	--colorSidebarScrollbar: #00ff00;
	--colorSidebarScrollbarBG: transparent;
}

#全部UI[配色主題="法顯東石謔諧然"]>#sidebar {
	backdrop-filter: blur(0px);
}

#展示>.展示項目[識別符="法顯東石謔諧然"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="法顯東石謔諧然"]>img {
	height: 40%;
	/* max-width: 50%; */
	image-rendering: pixelated;
	animation: 上下 5s ease-in-out infinite;
	box-shadow: hsla(100, 21%, 8%, 0.6) 0px 4px 16px, hsla(100, 21%, 8%, 0.6) 0px 8px 24px, hsla(100, 21%, 8%, 0.6) 0px 16px 56px;
}

@keyframes 上下 {

	0%,
	100% {
		transform: translateY(20px) scaleX(0.995);
	}

	50% {
		transform: translateY(-90px);
	}
}


#展示>.展示項目[識別符="法顯東石謔諧然"]>div.BG {
	background: #ffffff;
	z-index: -99999;
}

#展示>.展示項目[識別符="法顯東石謔諧然"]>canvas {
	position: fixed;
	z-index: -99998;
	width: 100%;
	height: 100%;
	image-rendering: pixelated;
	overflow: visible;
	filter: blur(30px);
}


#全部UI[配色主題="驚悚鏡像白目黑白口美羊羊"] {
	--colorSidebar: transparent;
	--colorSidebarItems: #ffffff;
	--colorSidebarToggle: #cda1aa;
	--colorSidebarButtons: #cda1aa;
	--colorSidebarScrollbar: #cda1aa;
	--colorSidebarScrollbarBG: transparent;
	--colorDescription: white;
	--colorDescriptionBG: black;
}

#全部UI[配色主題="驚悚鏡像白目黑白口美羊羊"]>#sidebar ul>li>a:hover {
	--colorSidebarItems: #cda1aa;
}

#展示>.展示項目[識別符="驚悚鏡像白目黑白口美羊羊"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="驚悚鏡像白目黑白口美羊羊"]>img {
	height: 50%;
}

#展示>.展示項目[識別符="驚悚鏡像白目黑白口美羊羊"]>div.BG {
	background: rgb(0, 0, 0);
	z-index: -99999;
}


#全部UI[配色主題="貓和老鼠錯亂房間"] {
	--colorSidebar: #9a360b;
	--colorSidebarItems: #dca934;
	--colorSidebarToggle: #9a360b;
	--colorSidebarButtons: #dca934;
	--colorSidebarScrollbar: #dca934;
	--colorSidebarScrollbarBG: #9a360b;
	--colorDescription: white;
	--colorDescriptionBG: black;
}

#全部UI[配色主題="貓和老鼠錯亂房間"]>#sidebar ul>li>a:hover {
	--colorSidebarItems: #9dc172;
}

#展示>.展示項目[識別符="貓和老鼠錯亂房間"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="貓和老鼠錯亂房間"]>img {
	width: 70%;
	height: 100%;
}

#展示>.展示項目[識別符="貓和老鼠錯亂房間"]>div.BG {
	background: #0d0d0d;
	z-index: -99999;
}


#全部UI[配色主題="滥恩，停滥倅發病"] {
	--colorSidebar: transparent;
	--colorSidebarItems: #000000;
	--colorSidebarToggle: #000000;
	--colorSidebarButtons: #000000;
	--colorSidebarScrollbar: #000000;
	--colorSidebarScrollbarBG: transparent;
	--colorDescription: white;
	--colorDescriptionBG: #000000;
}

#全部UI[配色主題="滥恩，停滥倅發病"]>#sidebar ul>li>a:hover {
	--colorSidebarItems: #c5b099;
}

#展示>.展示項目[識別符="滥恩，停滥倅發病"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="滥恩，停滥倅發病"]>img {
	width: 70%;
	height: 100%;
}

#展示>.展示項目[識別符="滥恩，停滥倅發病"]>div.BG {
	background: #eaeaec;
	z-index: -99999;
	background: url("/assets/圖象/畫廊/其它/滥恩，停滥倅發病.png");
	background-size: cover;
}


#全部UI[配色主題="仌屍"] {
	--colorSidebar: #ff0000;
	--colorSidebarItems: #0ef4f2;
	--colorSidebarToggle: #ff0000;
	--colorSidebarButtons: #ff0000;
	--colorSidebarScrollbar: #0ef4f2;
	--colorSidebarScrollbarBG: #ff0000;
	--colorDescription: #000000;
	--colorDescriptionBG: white;
}

#展示>.展示項目[識別符="仌屍"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="仌屍"]>img {
	height: 100%;
}

#展示>.展示項目[識別符="仌屍"]>div.BG {
	background: #0bf5f2;
	z-index: -99999;
	background-size: cover;
}


#全部UI[配色主題="栗炭千唯"] {
	--colorSidebar: transparent;
	--colorSidebarItems: #d41314;
	--colorSidebarToggle: #66dae0;
	--colorSidebarButtons: #66dae0;
	--colorSidebarScrollbar: #66dae0;
	--colorSidebarScrollbarBG: transparent;
	--colorDescription: white;
	--colorDescriptionBG: #000000;
}

#全部UI[配色主題="栗炭千唯"]>#sidebar ul>li>a:hover {
	--colorSidebarItems: #66dae0;
}

#展示>.展示項目[識別符="栗炭千唯"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="栗炭千唯"]>img {
	height: 50%;
	image-rendering: pixelated;
	pointer-events: none;
}

#展示>.展示項目[識別符="栗炭千唯"]>div.BG {
	background: url("/assets/圖象/畫廊/其它/栗炭千唯.png");
	background-size: contain;
	z-index: -99999;
	filter: blur(1px);
}


#全部UI[配色主題="病禍"] {
	--colorSidebar: transparent;
	--colorSidebarItems: #000000;
	--colorSidebarToggle: #000000;
	--colorSidebarButtons: #000000;
	--colorSidebarScrollbar: #000000;
	--colorSidebarScrollbarBG: transparent;
	--colorDescription: white;
	--colorDescriptionBG: #000000;
}

#展示>.展示項目[識別符="病禍"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="病禍"]>img {
	height: 60%;
	image-rendering: pixelated;
	pointer-events: none;
}

#展示>.展示項目[識別符="病禍"]>div.BG {
	background: url("/assets/圖象/畫廊/其它/病禍.png");
	background-size: cover;
	z-index: -99999;
	filter: blur(1px);
}


#全部UI[配色主題="ちいかわ"] {
	--colorSidebar: transparent;
	--colorSidebarItems: #000000;
	--colorSidebarToggle: #000000;
	--colorSidebarButtons: #000000;
	--colorSidebarScrollbar: #000000;
	--colorSidebarScrollbarBG: transparent;
	--colorDescription: white;
	--colorDescriptionBG: #000000;
}

#全部UI[配色主題="ちいかわ"]>#sidebar ul>li>a:hover {
	--colorSidebarItems: #ffedcf;
}

#展示>.展示項目[識別符="ちいかわ"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="ちいかわ"]>img {
	height: 50%;
	image-rendering: pixelated;
	pointer-events: none;
}

#展示>.展示項目[識別符="ちいかわ"]>div.BG {
	background: url("/assets/圖象/畫廊/其它/風格化蓮肉背.png");
	background-size: contain;
	z-index: -99999;
	filter: blur(3px);
}


#全部UI[配色主題="春日歩持刀可愛核"] {
	--colorSidebar: #fdd5e8;
	--colorSidebarItems: #ff669d;
	--colorSidebarToggle: #fe659c;
	--colorSidebarButtons: #fdd5e8;
	--colorSidebarScrollbar: #f3a3ca;
	--colorSidebarScrollbarBG: transparent;
	--colorDescription: white;
	--colorDescriptionBG: #000000;
}

#全部UI[配色主題="春日歩持刀可愛核"]>#sidebar ul>li>a:hover {
	--colorSidebarItems: #0f1316;
}

#展示>.展示項目[識別符="春日歩持刀可愛核"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="春日歩持刀可愛核"]>canvas.star {
	z-index: 10000;
	position: absolute;
	pointer-events: none;
}

#展示>.展示項目[識別符="春日歩持刀可愛核"]>img {
	width: 70%;
	image-rendering: pixelated;
	pointer-events: none;
	box-shadow: rgba(14, 20, 26, 0.56) 0px 22px 70px 4px;
}

#展示>.展示項目[識別符="春日歩持刀可愛核"]>div.BG {
	background: #fad5e6;
	background-size: contain;
	z-index: -99999;
}


#全部UI[配色主題="赤目"] {
	--colorSidebar: transparent;
	--colorSidebarItems: #7e0000;
	--colorSidebarToggle: #7e0000;
	--colorSidebarButtons: #7e0000;
	--colorSidebarScrollbar: #7e0000;
	--colorSidebarScrollbarBG: transparent;
}

#全部UI[配色主題="赤目"]>#sidebar ul>li>a:hover {
	--colorSidebarItems: #d10000;
}

#展示>.展示項目[識別符="赤目"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="赤目"]>img {
	position: absolute;
	height: 85%;
	top: 0;
	right: 0;
	image-rendering: pixelated;
	pointer-events: none;
	z-index: -99998;
}

#展示>.展示項目[識別符="赤目"]>div.BG {
	background: #000000;
	background-size: contain;
	z-index: -99999;
}


#全部UI[配色主題="灋顯東石"] {
	--colorSidebar: transparent;
	--colorSidebarItems: #0a0809;
	--colorSidebarToggle: #0a0809;
	--colorSidebarButtons: #0a0809;
	--colorSidebarScrollbar: #0a0809;
	--colorSidebarScrollbarBG: transparent;
}

#全部UI[配色主題="灋顯東石"]>#sidebar ul>li>a:hover {
	--colorSidebarItems: #ff00ff;
}

#展示>.展示項目[識別符="灋顯東石"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="灋顯東石"]>img {
	height: 60%;
	image-rendering: pixelated;
	pointer-events: none;
}

#全部UI[配色主題="灋顯東石"]>#sidebar {
	backdrop-filter: blur(0px);
}

#展示>.展示項目[識別符="灋顯東石"]>div.BG {
	background: url("/assets/圖象/畫廊/其它/灋顯東石.jpg");
	background-size: contain;
	z-index: -99999;
	filter: blur(15px);
}


#全部UI[配色主題="夢"] {
	--colorSidebar: transparent;
	--colorSidebarItems: #000000;
	--colorSidebarToggle: #000000;
	--colorSidebarButtons: #000000;
	--colorSidebarScrollbar: #000000;
	--colorSidebarScrollbarBG: transparent;
}

#展示>.展示項目[識別符="夢"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="夢"]>img {
	width: 50%;
	image-rendering: pixelated;
	pointer-events: none;
}

#展示>.展示項目[識別符="夢"]>div.BG {
	background: #ffffff;
	background-size: contain;
	z-index: -99999;
	filter: blur(15px);
}


#全部UI[配色主題="水啚丹它甲骨文"] {
	--colorSidebar: transparent;
	--colorSidebarItems: #000000;
	--colorSidebarToggle: #000000;
	--colorSidebarButtons: #000000;
	--colorSidebarScrollbar: #000000;
	--colorSidebarScrollbarBG: transparent;
}

#展示>.展示項目[識別符="水啚丹它甲骨文"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="水啚丹它甲骨文"]>img {
	width: 70%;
	image-rendering: pixelated;
	pointer-events: none;
}

#展示>.展示項目[識別符="水啚丹它甲骨文"]>div.BG {
	background: #ffffff;
	background-size: contain;
	z-index: -99999;
	filter: blur(15px);
}


#全部UI[配色主題="天国栗炭千唯"] {
	--colorSidebar: transparent;
	--colorSidebarItems: #40263c;
	--colorSidebarToggle: #40263c;
	--colorSidebarButtons: #40263c;
	--colorSidebarScrollbar: #40263c;
	--colorSidebarScrollbarBG: transparent;
}

#全部UI[配色主題="天国栗炭千唯"]>#sidebar ul>li>a:hover {
	--colorSidebarItems: #2a2b5e;
}

#展示>.展示項目[識別符="天国栗炭千唯"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="天国栗炭千唯"]>img {
	height: 70%;
	image-rendering: pixelated;
	pointer-events: none;
}

#展示>.展示項目[識別符="天国栗炭千唯"]>div.BG {
	background: url("/assets/圖象/畫廊/其它/天国栗炭千唯.jpg");
	background-size: contain;
	z-index: -99999;
	filter: blur(15px);
}


#全部UI[配色主題="合息"] {
	--colorSidebar: transparent;
	--colorSidebarItems: #000000;
	--colorSidebarToggle: #000000;
	--colorSidebarButtons: #000000;
	--colorSidebarScrollbar: #000000;
	--colorSidebarScrollbarBG: transparent;
}

#全部UI[配色主題="合息"]>#sidebar ul>li>a:hover {
	--colorSidebarItems: #0000ff;
}

#全部UI[配色主題="合息"]>#sidebar {
	backdrop-filter: blur(0px);
}

#展示>.展示項目[識別符="合息"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="合息"]>img {
	height: 60%;
	image-rendering: pixelated;
	pointer-events: none;
}

#展示>.展示項目[識別符="合息"]>div.BG {
	background: url("/assets/圖象/畫廊/合息.jpg");
	background-size: contain;
	z-index: -99999;
	filter: blur(30px);
}


#全部UI[配色主題="赤目IMG"] {
	--colorSidebar: transparent;
	--colorSidebarItems: #000000;
	--colorSidebarToggle: #000000;
	--colorSidebarButtons: #000000;
	--colorSidebarScrollbar: #000000;
	--colorSidebarScrollbarBG: transparent;
}

#全部UI[配色主題="赤目IMG"]>#sidebar ul>li>a:hover {
	--colorSidebarItems: #fd0600;
}

#展示>.展示項目[識別符="赤目IMG"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="赤目IMG"]>img {
	height: 60%;
	image-rendering: pixelated;
	pointer-events: none;
}

#展示>.展示項目[識別符="赤目IMG"]>div.BG {
	background: #f2ebf4;
	background-size: contain;
	z-index: -99999;
}


#全部UI[配色主題="天に召される"] {
	--colorSidebar: transparent;
	--colorSidebarItems: #000000;
	--colorSidebarToggle: #000000;
	--colorSidebarButtons: #000000;
	--colorSidebarScrollbar: #021f95;
	--colorSidebarScrollbarBG: transparent;
}

#全部UI[配色主題="天に召される"]>#sidebar ul>li>a:hover {
	--colorSidebarItems: #ffffff;
}

#全部UI[配色主題="天に召される"]>#sidebar {
	backdrop-filter: blur(0px);
}

#展示>.展示項目[識別符="天に召される"] {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#展示>.展示項目[識別符="天に召される"]>img {
	height: 60%;
	image-rendering: pixelated;
	pointer-events: none;
}

#展示>.展示項目[識別符="天に召される"]>div.BG {
	background: url("/assets/圖象/畫廊/天に召される.jpg");
	background-size: cover;
	z-index: -99999;
	filter: blur(70px);
}